@charset "UTF-8";
/* CSS Document */
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;

}
.container{
	margin:0 auto;
	width:1160px;	
}
.row{
	margin:0 -10px;
	display:table;	
}
.row:after{
	display:table;
	clear:both;
	content:"";
	width:100%;	
}
.col{
	float:left;
	padding:0 10px;	
	margin-bottom:20px;
}
.column1{
	width:14.285714285689654%;	
}

.column2{
	width:28.571428571465518%;	
}

.column3{
	width:42.857142857155175%;	
}

.column4{
	width:57.142857142844825%;	
}

.column5{
	width:71.42857142853448%;	
}

.column6{
	width:85.71428571431035%;	
}

.column7{
	width:100%;	
}
.colheight1{
	height:156px;	
}
.colheight2{
	height:329px;	
}
.colheight3{
	height:502px;	
}


